:root {
  --box-shadow: 0 0 5px rgba(255,255,255, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
} 


body {
  font-family: 'Lato', sans-serif;
  background-color: #272121;
  height: 100vh;
}


#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;  
}

/* Animation */

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid #98ded9;
  position: absolute;
}
.transform {
  transform: rotate(45deg);    
}
@keyframes flyout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(3.5);
  }
}
@-webkit-keyframes flyout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(3.5);
  }
}
.initial-animation {
  animation: flyout 1s forwards;
}

.absolute {
  position: absolute;
  z-index: -1;
  align-self: center;
}

/* Navigation */
.nav {
  background-color:#98ded9;
  box-shadow: var(--box-shadow);  
  overflow: hidden;

}
.nav div {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.nav div > h1 {
  
  color: #272121;
  text-transform: uppercase;
}
.nav .pathname {
  color: #443737;
  text-transform: lowercase;
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

/* Home */
.title {
  text-align: center;
  color: #98ded9;
}
.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.slide-in {
  -webkit-animation-name: slide-in;
  animation-name: slide-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.star-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(400px);
  }
  to { 
    opacity: 1;
    transform: translateY(0);
  }
}
.icon-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-row > .icon {
  margin: 0 0.75rem;
  cursor: pointer;
}

.icon-row > a {
 text-decoration: none;
 color: inherit;
 margin: 0 0.75rem;
 transition: ease 0.5s all;
}
.icon-row > a:hover {
  color: white;
  transform: scale(1.2);
}

.img-container {
  height: 200px;
  width: 200px;
  background-image: url('./myProfilePic2.jpeg');
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 10%;
  margin-right: 0.75rem;
  box-shadow: var(--box-shadow);
}
.myname {
  font-family: 'Londrina Sketch', cursive;
  font-size: 3.5rem;
  margin: 0;
  text-shadow: 1px 1px 10px rgba(255,255,255, 0.5);
}


.myname-subtitle {
  margin: 1rem;
}

.projects-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
}

.projects-link  h1 {
position: absolute;
color: white;
text-decoration: none;
z-index: 1;
text-shadow: 1px 1px 10px rgba(255,255,255, 0.5);
transition: 1s ease transform;
margin: 0;
animation: pulse 2s infinite forwards;
}

.rotating-star {
  margin: 0;
  display: flex;
  animation: rotation 4s infinite linear;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.star-square {
  width: 100px;
  height: 100px;
  border: 2px solid;
  position: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Portfolio pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.home-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hamburger */
.hamburger {
  display: inline-block; 
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: transparent;
  background: transparent;
  padding: 0.75rem 1rem 0 0;
}


.hamburger:after, 
.hamburger:before, 
.hamburger div {
  background-color: #272121;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.25rem;
  width: 3rem;
  margin: 0.5rem 0;
  transition: 0.2s ease all;
  border-radius: 3px;
}


.open:before {
  transform: rotate(-45deg) translate(-35%);
}
.open div {
  opacity: 0;
  transform: rotate(-225deg);
}
.open:after {
  transform: rotate(45deg) translate(-35%);
}


.hamburger-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
  position: absolute;
  top: 1;
  right: 0;
  animation: menu 0.2s forwards;
  background-color: white;
  height: fit-content;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  padding-bottom: 1rem;
}

.links-box {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
}
.links-box li {
  margin: 1rem 0;
  transition: ease-in-out all 0.3s;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

.links-box li:hover {
 letter-spacing: 0.2rem;
 color: #443737;
}
.links-box .last-link {
  color:#443737;
  border: 1px solid #443737;
  padding: 0.25rem;
}
.hamburger-links a {
  color: inherit;
  text-decoration: none;
}

@keyframes menu {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 10rem;
    opacity: 1;
  }
}

/* PORTFOLIO */
.loading {
  color: white;
  animation-duration: 2s;
  align-self: center;
}
.project-list {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0 0.5rem;
  padding: 0;
}

.repo-card {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.repo-details {
  padding: 1rem;
}
.repo-card-top-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.repo-card-top-row > a {
 color: inherit;
 margin: 0.25rem 0.5rem;
 text-decoration: none;
 padding: 0.5rem 2rem;
 background-color: #98ded9;
 color: #272121;
 border-radius: 10px;
 transition: ease-in-out 0.5s all;
 box-shadow: var(--box-shadow);
 font-weight: bold;
}

.repo-card-top-row > a:hover {
  background-color: white;
 }
 .repo-card-top-row > a:active {
  transform: scale(0.9);
 }
.repo-image-cropper {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 300px;
  margin: 0;
}
.repo-image {
  width: 100%;
}

.repo-description {
  margin: 0.5rem 1rem;
}
.repo-chip-container {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.repo-chip {
  background-color: white;
  color: #272121;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  border-radius: 900px;
  display: inline-block;
  font-weight: bold;
}


/* About */
.about-main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.aboutme-img-desktop {
  height: 600px;
  box-shadow: var(--box-shadow);
}
.aboutme-img-mobile {
  display: none;
  box-shadow: var(--box-shadow);
}
.about-content {
  color: whitesmoke;
  margin: 2rem;
}

.about-content p {
  margin: 2rem;
  line-height: 1.5rem;
}
/* RESUME */

.resume-main h1, h2, h3, h4, h5 h6, p {
  margin: 0;
}
.resume-main h3 {
  font-size: 1.5rem;
}
.resume-main {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  overflow: hidden;
}
.resume-img {
  background-image: url('./resume-img.jpg');
  background-position: 0 45%;
  width: 600px;
  height: 240px;
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.contact {
  padding-top: 1rem;
}
.contact-info {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.contact-info h4 {
  margin: 0.5rem;
  font-size: 1.5rem;
}
.contact-info div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  width: 100%;
}
.contact-icon {
  color: #98ded9;
  margin: 0 0.75rem;
}

.education {
  grid-column: 1/ span 2;
}

.education div {
  margin: 0.5rem 5rem;
}
.education h4 {
  margin: 0.25rem 0;
}
.degrees {
  display: flex;
  justify-content: space-between;
}

.resume-heading {
  font-family: 'Londrina Solid', cursive;
  color: #98ded9;
  margin: 0.5rem;
  text-shadow: 1px 1px 10px rgba(255,255,255, 0.5);
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: uppercase;
}
.resume-section {
  color: white;
  margin: 0 0.5rem;
}
.resume-image-align {
  justify-self: stretch;
  margin: 0;
}
.flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.flex-row-wrap li {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  color: #212121;
  font-weight: bold;
  border-radius: 1000px;
}


@media all and (max-width: 600px) {
  .star-row {
    flex-direction: column;  
  }
  .project-list {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 0;
  }
  .repo-image-cropper {
    height: fit-content;
  }
  .img-container {
    height: 150px;
    width: 150px;
    margin: 2rem 0 1rem 0;
  }
  .home-main {
    align-items: flex-start;
  }
  .nav h1, .pathname {
    font-size: 1.25rem;
  }
  button.hamburger {
    padding: 0.5rem 0.5rem 0 0;
  }
  .resume-img {
    height: 210px;
    width: 100vw;
  }
}

@media all and (max-width: 768px) {

  /* About */
  .about-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5 1fr;
  }
  .about-content h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
  }
  .about-content {
    margin: 0;
  }
  .aboutme-img-desktop {
    display: none;
  }
  .aboutme-img-mobile {
    display: unset;
    width: 100vw;
    max-width: 420px;
    margin: 0 auto;
    justify-self: center;
  }
  
  .resume-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .education {
    grid-column: auto;
  }
  .flex-row-wrap {
    padding: 0;
    margin: 0;
  }
  .flex-row-wrap li {
    font-size: 0.75rem;
  }
  .experience li {
    font-size: 0.75rem;
  }
  .education div {
    margin: 1rem 0;
  }
  .degrees {
    display: unset;
  }
  .resume-main h3, .contact-info h4 {
    font-size: unset;
  }
  .contact-icon {
    transform: scale(0.75);
  }
  .contact-info div {
    margin: 0;
  }
}

@media all and (max-width: 320px) {
  .nav h1, .pathname {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
}
