.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.shape-grid {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(4, 63px);
  grid-template-rows: repeat(4, 63px);
  -webkit-animation-name: flyout;
  -webkit-animation-duration: 2s;
  animation-name: flyout;
  animation-duration: 2s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  justify-content: center;
}


.shape-container {
  height: 100px;
  margin: 0;
  transform: rotate(22.25deg);
  -webkit-animation: spin 3s;
  animation: spin 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid darkred;
  position: absolute;
}

@keyframes spin {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes flyout {
  from {
    grid-gap: 0;
    opacity: 1;
  }
  to { 
    grid-gap: 500px;
    opacity: 0;
  }
}

@-webkit-keyframes flyout {
  from {
    grid-gap: 0;
    opacity: 1;
  }
  to {
    grid-gap: 500px;
    opacity: 0;
  }
}



.transform {
  transform: rotate(45deg);    
}

.nav {
  background-color: aqua;
  margin: 0;
  overflow: hidden;
}

